parallelTSP.xcodeproj/project.xcworkspace/contents.xcworkspacedata
parallelTSP.xcodeproj/project.xcworkspace/xcshareddata/parallelTSP.xccheckout
parallelTSP.xcodeproj/project.xcworkspace/xcuserdata/castrosalazar.xcuserdatad/UserInterfaceState.xcuserstate
parallelTSP.xcodeproj/xcuserdata/castrosalazar.xcuserdatad/xcschemes/parallelTSP.xcscheme
parallelTSP.xcodeproj/xcuserdata/castrosalazar.xcuserdatad/xcschemes/xcschememanagement.plist
